<li>
    <input id="shipping_method_{{ codename }}_{{ service }}" class="radio" type="radio"
           value="{{ quote.cost }}" name="shipping_method"/>
    <label for="shipping_method_{{ codename }}_{{ service }}">
        {{ quote.serviceName }}
        <span>{{ quote.cost }}</span>
    </label>
</li>